.container{
    display: grid;
    grid-template-columns: repeat(3,200px);
    justify-content: center;
    gap:20px;
}

.product{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    border: 1px solid lightslategray;
}

.img-div img{
    width:100px;
}